<h1>Welcome to Dog MeetUp</h1>

<form method="POST" action="/schedule">
	<p><label>Time: <input name="time" type="time" id="time"></label></p>
	<input type="submit" value="Submit">
</form>

<div id="map"></div>

$(document).ready(function() {
	<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
}