<h1>Welcome to Dog MeetUp</h1>

<form method="POST" action="/schedule">
	<p><label>Time: <input name="time" type="time" id="time"></label></p>
	<input type="submit" value="Submit">
</form>

<div id="map"></div>

<div class="description">
	<h2 class="parkName"></h2>
	<h3 class="parkLocation"></h3>
	<h3 class="parkRating"></h3>
</div>
<script type="text/javascript">
    $(document).ready(function() {
		initMap();
	});	
</script>
