<h1>Settings</h1>

<form id="numDogs" method="POST">
	<p>Small Dogs</p>
	<select id="smallDogs" name="smallDogs">
		<option>0</option>
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
	</select>

	<p>Medium Dogs</p>
	<select id="mediumDogs" name="mediumDogs">
		<option>0</option>
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
	</select>

	<p>Large Dogs</p>
	<select id="largeDogs" name="largeDogs">
		<option>0</option>
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
	</select>

	<input type="submit" value="Submit">
</form>