/******************************
Basic styling
*******************************/

body {
    background-image: url(./images/paw-print-220231_640.jpg);
}

.navbar {
    background-color: rgba(35, 23, 1, 0.7);
}

.navbar-header .navbar-brand, ul.navbar-nav.navbar-right li a {
    color: white;
}

#mainPageH1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}



/******************************
Main page
*******************************/

.description, .description a {
    background-color: rgba(255, 122, 0, 0.6);
    color: white;
    margin: 12% 0;
    text-shadow: 1px 1px 1px #000;
    width: 500px;
}

#submitTimeLocation {
    display: -webkit-box;
    max-width: 500px;
}

#timeLocSubBtn {
    margin: 30px 0 30px 10px;
}



/******************************
Register & login page
*******************************/

input {
    background-color: #0F81B2;
}

.inputLabel {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

#registerText, #registerHeader, #registerSubmit, #loginHeader, #loginSubmit {
    color: #0F81B2;
    text-align: center;
    font-weight: bold;
}

#registerHeader, #loginHeader {
    text-shadow: 1px 1px black;
}

#registerContainer, #registerPage, #loginContainer, #loginPage {
    text-align: center;
}

#registerContainer, #loginContainer {
    background-color: rgba(226, 171, 72, 0.8);
    width: 300px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

 #registerSubmit, #loginSubmit {
    background-color: #48C8FF;
    color: #000;
 }

#usernameLabel, #emailLabel {
    /*margin: 0;*/
}



/******************************
Login page
******************************/

#loginSubmit {
    margin-top: 10px;
}



/******************************
Map styling
******************************/

#map {
    width: 500px;
    height:400px;
}

fieldset {
    border: 0;
}

#timeLabel {
    display: block;
    margin: 30px 0 0 0;
}


select {
    width: 200px;
}



/****************************
Schedule page
*****************************/

#schedulePage {
    text-align: -webkit-center;
}

#schedulePageContainer {
    background-color: rgba(255, 122, 0, 0.6);
    color: white;
    max-width: 500px;
    text-shadow: 1px 1px 1px #000;
}


/****************************
Rating star styling
*****************************/

.overflow {
    height: 200px;
}

.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #189800;
}
 
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
   	display: -webkit-inline-box;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #f5b301;
}
 
.acidjs-rating-disabled
{
    opacity: .50;
    display: -webkit-inline-box;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

.glyphicon-star {
	color: gold;
}