/******************************
Basic styling
*******************************/

body {
    background-color: mintcream;
}

h1 {
    text-align: center;
}

#mainPageH1 {
    text-align: center;
}

.navbar {
    background-color: #EDFFFF;
}


/******************************
Main page
*******************************/

.description {
    max-width: 500px;
}

@media screen and (min-width: 992px) {
    .description {
        margin-top: 85px;
    }
}

#submitTimeLocation {
    display: -webkit-box;
    max-width: 500px;
}

#timeLocSubBtn {
    margin: 30px 0 30px 10px;
}



/******************************
Register & login page
*******************************/

.inputLabel {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

#registerText, #registerSubmit, #loginSubmit {
    text-align: center;
}


#registerContainer, #registerPage, #loginContainer, #loginPage, #dogContainer {
    text-align: center;
}

#registerContainer, #loginContainer {
    width: 300px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}



/******************************
Login page
******************************/

#loginSubmit {
    margin-top: 10px;
}



/******************************
Map styling
******************************/

#map {
    width: 500px;
    height:400px;
}

fieldset {
    border: 0;
}

#timeLabel {
    display: block;
    margin: 30px 0 0 0;
}


select {
    width: 200px;
}



/****************************
Schedule page
*****************************/

.delete-link {
    color: #FF4F4F;
}

#schedulePage {
    text-align: -webkit-center;
}

#review {
    margin-top: 2px;
    max-width: 500px;
    width: 100%;
}

#schedulePageContainer {
    max-width: 500px;
}



/****************************
Settings page
*****************************/

.dogLabels {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

.dogSelectors {
    display: inline-block;
    margin: 0 5px;
}

#dogSubmit {
    text-align: center;
    margin-top: 10px;
}

#lrgDogImg {
    max-width: 100px;
}

#medDogImg {
    max-width: 75px;
}

#smlDogImg {
    max-width: 50px;
}

.numDogSelector {
    width: 100px;
}

/****************************
Rating star styling
*****************************/

.overflow {
    height: 200px;
}

.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #189800;
}
 
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
   	display: -webkit-inline-box;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #f5b301;
}
 
.acidjs-rating-disabled
{
    opacity: .50;
    display: -webkit-inline-box;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

.glyphicon-star {
	color: gold;
}